html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background-color: #A68986;
    padding: 10px 0px 0px;
}
.header {
    background-color: white;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    display: flex;
}
.footer {
    background-color: #734945;
    min-height: 150px;
    text-align: center;
}

table thead th {
    background-color: black;
    color: white;
}
table tr:hover td {
    background-color: gray;
}
.pe{
    margin-left: 22px;
    flex: 1;
}
form {
    flex: 2;
    margin-top: 50px;
    margin-right: 100px;
    padding: 20px;
}